

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.navbar-personalizado{
	background-color: #0e7ac4;
	border-radius: 0px;
	margin-bottom: 0;
}

.link-personalizado{
	color: white;
	text-shadow: none;
}
.link-personalizado:hover{
	color: white;	
}
.nav-personalizado>li>a{
	color: white;
	text-shadow: none;
}
.nav-personalizado>li>a:hover{
	background-color: #0e68b8;
}
.app-bar{
	background-color: white;
}
.app-principal{
	background-color: #0e7ac4;
	color: white;
	text-align: center;
}
.app-titulo{
	font-size: 40px;
}
.app-desc{
	font-size: 18px;
}
.app-redes{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}
.app-sociales{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.app-facebook{
	width: 40%;
	display: inline-block; /* se muestre de forma horizontal enla ventana del navegador*/
	margin-right: 20px;
}
.app-twitter{
	width: 40%;
	display: inline-block; /* se muestre de forma horizontal enla ventana del navegador*/
	margin-right: 20px;
}
.btn-facebook{
	color: white;
	background-color: #3e5998;
}
.btn-twitter{
	color: white;
	background-color: #00acde;
}
.btn{
	border-radius: 0 !important;
}
.app-preguntar{
	background-color: #3498bd;
	border-bottom: 6px solid #eceef1;
}
.btn-preguntar{
	color: white;
	background-color: #2ecc71;
	margin-top: 16px;
	margin-bottom: 16px;
}
.app-datos{
	margin-top: 10px;
	font-size: 18px;
	color: white;
	padding-top: 18px;
}
.gl-usuario{
	display: inline-block;
}
.gl-preguntas{
	margin-left: 20px;
	display: inline-block;
}
.app-top{
	margin-top: 10px;
	font-size: 18px;
}
.app-user{
	text-align: center;
	font-size: 18px;
}
.app-img-centrar{
	margin-left: auto;
	margin-right: auto;	
}
.app-justificar{
	text-align: justify;
	padding-top: 5px;
	padding-bottom: 5px;
}
.app-textM{
	font-size: 12px;
}
.gl-vistas{
	color: #33b5e5;
	padding-right: 5px;
	font-size: 14px !important;
}
.gl-respuestas{
	color: #2ecc71;
	padding-right: 5px;
	font-size: 14px !important;
}
.gl-votos{
	color: #f39c12;
	padding-right: 5px;
	font-size: 14px;
}
.app-etiquetas{
	font-size: 16px;
	color: white;
	background-color: #2ecc71;
	border-bottom: 6px solid #24a159;
	margin-bottom: -8px;
	padding-top: 8px;
}
.label-etiqueta{
	background-color: #333;
}
.app-centrar{
	text-align: center;
}
.app-footer{
	background-color: #0e7ac4;
	color: white;
	font-size: 20px;
	text-align: center;
	padding: 20px;
}





.color1{
	color: #20ED62;
}
.color2{
	color: #F27039;
}
.color3{
	color: #F45C5C;
}
.color4{
	color: #0EE320;
}
.color5{
	color: #91A4EF;
}

.app{
	font-size: 69px;	
}
.contenido-scrollspy{
	overflow: scroll;
	height: 550px;
}

.navbar-nav>li>.dropdown-menu{
	margin-top: 20px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.mega-dropdown{
	position: static !important;
	width: 100%;
}
.mega-dropdown-menu{
	padding: 20px 20px;
	width: 100%;
	box-shadow: none;
	webkit-box-shadow: none;
}
.btn-masterD{
	background: #33b5e5;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 15px;
	color: white;
	border-radius: 0;
	text-align: center;
	padding-left: 30px;
	padding-right: 30px;
}
.app-justificar{
	text-align: justify;
}
.mega-dropdown-menu:before{
	border-bottom: 15px solid #fff;
	border-right: 17px solid transparent;
	border-left: 17px solid transparent;
	position: absolute;
	top: -15px;
	left: 239px;
	z-index: 10;
}
.mega-dropdown-menu:after{
	border-bottom: 17px solid #fff;
	border-right: 19px solid transparent;
	border-left: 19px solid transparent;
	position: absolute;
	top: -17px;
	left: 237px;
	z-index: 8;
}














